<div style="width: 320px; padding-right: 32px; display: flex;">
  <div style="width: 50%;">
    <strong>Parties</strong>
    <% parties.each do |k,v| %>
      <div><%= k %> - <%= v %> people</div>
    <% end %><br>
  </div>
  <div style="width: 50%;">
    <strong>Factions</strong>
    <% factions.each do |k,v| %>
      <div><%= k %> - <%= v %> people</div>
    <% end %>
  </div>
</div>
